.App {
  text-align: center;
}

.item-todo .item-text  {
  display: inline-block;
  cursor: pointer;
}

.item-todo .item-delete  {
  display: inline-block;
  cursor: pointer;
}

.item-delete {
  padding-left: 16px;
  color: red;
}

.strike {
  text-decoration: line-through;
}
